<div class="bx--row landing-page__banner">
	<div class="bx--col-lg-12">
		<nav aria-label="Page navigation">
			<ol class="bx--breadcrumb bx--breadcrumb--no-trailing-slash">
				<li class="bx--breadcrumb-item"><a href="http://developer.ice.ibmcloud.com/" class="bx--link">Developer
						SDK</a></li>
			</ol>
		</nav>
		<h1 class="landing-page__heading">OpenID Connect Relying Party</h1>
	</div>
</div>
<div class="bx--row landing-page__r2">
	<div class="bx--col-md-4 bx--col-lg-7">
		{{#if loggedin}}
		<div data-notification class="ci--notification-error bx--inline-notification bx--inline-notification--error" role="alert">
			<div class="bx--inline-notification__details">
				<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M10,1c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S15,1,10,1z M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z"></path><path d="M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z" data-icon-path="inner-path" opacity="0"></path></svg>
				<div class="bx--inline-notification__text-wrapper">
				<p class="bx--inline-notification__title">Authentication failure</p>
				<p class="bx--inline-notification__subtitle">There was an error processing the request. Check the console logs for more details.</p>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if loggedout}}
		<div data-notification class="ci--notification bx--inline-notification bx--inline-notification--success" role="alert">
			<div class="bx--inline-notification__details">
				<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M10,1c-4.9,0-9,4.1-9,9s4.1,9,9,9s9-4,9-9S15,1,10,1z M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z"></path><path fill="none" d="M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z" data-icon-path="inner-path" opacity="0"></path></svg>
				<div class="bx--inline-notification__text-wrapper">
				<p class="bx--inline-notification__title">Logout success</p>
				<p class="bx--inline-notification__subtitle">You're session and access token with IBM Cloud Identity has been revoked.</p>
				</div>
			</div>
		</div>
		{{/if}}
		<p class="landing-page__p">Use this application to test SSO with IBM Security Verify using OpenID connect. This
			sample app can be
			reused in your own applications or simply used for testing purposes.</p>
		<h1 class="landing-page__gettingstarted">Getting started</h1><a href="/login"
			class="bx--link bx--tile bx--tile--clickable landing-page_primary">Login<svg focusable="false"
				preserveAspectRatio="xMidYMid meet" style="will-change: transform;" aria-label="Login"
				xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" role="img">
				<path
					d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z">
				</path>
				<path d="M14.59 20.59L18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59z">
				</path>
			</svg></a>
	</div>
</div>
<section class="bx--row landing-page__r3 info-section">
	<div class="bx--col-md-8 bx--col-lg-8 bx--col-xlg-8">
		<h3 class="info-section__heading">Need help?<a
				href="https://www.ibm.com/support/knowledgecenter/SSCT62/com.ibm.iamservice.doc/tasks/t_config_sso_idp.html"
				class="bx--link footer-link">Visit the knowledge center</a></h3>
	</div>
</section>